<!-- Header -->
<div class="header">
  <h2>Dashboard <img src="/assets/Mentor_Dashboard_Icon.png" alt="Mentor Dashboard Icon" class="icon"></h2>
  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Menu" class="menu-button">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu" class="custom-menu">
    <button mat-menu-item (click)="navigateTo('dashboard')">Dashboard</button>
    <button mat-menu-item (click)="navigateTo('batches')">Batches</button>
    <button mat-menu-item (click)="navigateTo('profile')">Profile</button>
    <button mat-menu-item (click)="navigateTo('employees')">Employees</button>
    <button mat-menu-item (click)="logout()">Logout</button>
  </mat-menu>
</div>
<br><br>

<div class="content">
<div class="container">
  <div class="row">
    <div class="col">
      <textarea [(ngModel)]="code" class="form-control" rows="10" placeholder="Enter your code here"></textarea>
    </div>
    <div class="col">
      <textarea [(ngModel)]="sampleInput" class="form-control" rows="5" placeholder="Enter sample input here"></textarea>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col">
      <button (click)="submitCode()" class="btn btn-primary">Submit</button>
    </div>
  </div>
</div>
</div>
