.content {
  background-color: #ffffff;
  margin-left: 100px;
  padding: 20px;
}

.content {
  padding: 20px;
}

.header {
  background-color: #ffffff;
  color: #000000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.icon {
  margin-right: 10px;
  width: 40px;
  height: auto;
  vertical-align: middle;
  margin-left: 10px;
}

.menu-button {
  color: #00b4d8;
}

.mat-menu-panel {
  background-color: #ffffff;
}

.custom-menu {
  background-color: rgba(255, 255, 255, 0.9);
}
