.content {
  background-color: #ffffff;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 50px;
  top: 50px;
  padding: 20px;
}

.head {
  background-color: transparent; /* Set background color to transparent */
  color: #2578be;
  text-decoration: #00b4d8;
  padding: 25px 25px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);

}

.head h2 {
  font-size: 20px;
  margin: 0;
}

.header {
  width: auto;
  color: #000000; /* Set text color to black */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  left:10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  height: 200px;
  margin-top: 50px;
  align-self: center;
  margin-left: 85px;
  margin-right: 85px;
  background-image: url('/assets/DashBoard_Banner.jpeg');
  background-size: cover; /* This makes the background image cover the entire header */
  background-position: center; /* This centers the background image */

}

.icon {
  margin-right: 10px;
  width: 40px;
  height: auto;
  vertical-align: middle;
  margin-left: 10px;
}

.menu-button {
  color: #00b4d8;
}

.mat-menu-panel {
  background-color: #ffffff;
}

.custom-menu {
  background-color: rgba(255, 255, 255, 0.9);
}
.card {
  margin-top: 0; /* Remove margin-top */
}

.card p {
  margin-bottom: 5px; /* Add margin-bottom to separate paragraphs */
}
.card-container {

  display: flex;
  flex-wrap: wrap;
}
.container {
  align-items: center;
  background-color: white;
  padding: 20px;
}
.card {
  width: 350px; /* Adjust the width as needed */
  margin: 20px;
  padding: 20px;
   /* Replace 'your-background-image-url' with the actual URL */
  background-size: cover;
  background-position: center;
  background-color: rgba(255, 255, 255, 0.1); /* Set background color with opacity */
  color: currentcolor;


}

.card:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Add hover effect */
}

