.content {
  background-color: #ffffff;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 50px;
  top: 50px;
  padding: 20px;
}



.header {
  width: auto;
  color: #000000; /* Set text color to black */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  left:10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  height: 200px;
  margin-top: 50px;
  align-self: center;
  margin-left: 85px;
  margin-right: 85px;
  background-image: url('/assets/DashBoard_Banner.jpeg');
  background-size: cover; /* This makes the background image cover the entire header */
  background-position: center; /* This centers the background image */

}

.icon {
  margin-right: 10px;
  width: 40px;
  height: auto;
  vertical-align: middle;
  margin-left: 10px;
}

.menu-button {
  color: #00b4d8;
}

.mat-menu-panel {
  background-color: #ffffff;
}

.custom-menu {
  background-color: rgba(255, 255, 255, 0.9);
}
.card {
  border: 1px solid #ccc;
  width: auto;
  border-radius: 5px;
  padding: 20px;
  margin-top: 20px;
  display: flexbox;
}
