
<br>
<br>
<!-- Header -->
<div class="header">
  <h2 style="margin-bottom:110px"> Dashboard </h2>
  <h2 style="margin-bottom:110px;text-align: right;"> Welcome {{currentUser.Name}}! </h2>

  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Menu" class="menu-button">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu" class="custom-menu">
    <button mat-menu-item (click)="navigateToDahsBoard()">Dashboard</button>
    <button mat-menu-item (click)="viewEmployee(currentUser.userId)">Profile</button>
    <button mat-menu-item (click)="logout()">Logout</button>
  </mat-menu>
</div>

<br>

<br>



<br>
<button class="btn" (click)="toggleNavigationHistory()">Show Navigation History</button>

<ul *ngIf="showNavigationHistory">
  <li *ngFor="let link of navigationHistory">
    <a style="background-color: lightblue; width: 180px; margin-left: 60px;" [routerLink]="link">{{ link }}</a>
  </li>
</ul>
<!-- Main Content -->
<div class="content">




  <div *ngIf="currentUser.Role!=0"  class="excel-table">
    <table>
      <thead  style="color: darkblue;">
        <tr>
          <th  style="color: darkblue;" >Submitted By</th>
          <th style="color: darkblue;" >The File Uploaded</th>
          <th  style="color: darkblue;">The Rating</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of combinedData">
          <td>{{ item.submissionDetails.SubmittedByUser.Name }}</td>
          <td>
            Submission
          <div *ngIf="item.submissionDetails.FileUploadSubmission != null">
            FIle:-
            <button class="btn btn-info" (click)="downloadFile(item.submissionDetails.FileUploadSubmission, item.submissionDetails.submittedFileName)">Download Submission File</button>
          </div>
          <div *ngIf="item.submissionDetails.FileUploadSubmission == null">
          <p>The User is Yet to make a submission for this</p>
        </div>
        </td>
          <td>
            <div *ngIf="item.rating != null">
              {{ item.rating.RatingValue }}%
            </div>
            <div *ngIf="item.rating == null && currentUser.Role==1">
              <button (click)="showRatingForm(item.submissionDetails.TaskSubmissionsId, item.submissionDetails.UserId)" class="btn btn-primary">Add Rating</button>
              <div *ngIf="showRatingForms[item.submissionDetails.TaskSubmissionsId + item.submissionDetails.UserId]">
                <form [formGroup]="ratingform" (ngSubmit)="submitRating(item.submissionDetails.TaskSubmissionsId, item.submissionDetails.UserId)">
                  <div class="form-group">
                    <label for="RatingValue">Rating Value:</label>
                    <select class="form-control"  id="RatingValue" formControlName="RatingValue" required>
                      <option [value]="" disabled selected>Select a rating percentage</option>
                      <option [value]="0">0%</option>
                      <option [value]="10">10%</option>
                      <option [value]="20">20%</option>
                      <option [value]="30">30%</option>
                      <option [value]="40">40%</option>
                      <option [value]="50">50%</option>
                      <option [value]="60">60%</option>
                      <option [value]="70">70%</option>
                      <option [value]="80">80%</option>
                      <option [value]="90">90%</option>
                      <option [value]="100">100%</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="comments">Comments:</label>
                    <select class="form-control" id="comments" formControlName="Comments" required>
                      <option *ngFor="let comment of commentsOptions; let i = index" [value]="i">{{ commentsOptions[i-1] }}</option>
                    </select>
                  </div>
                  <!-- Hidden fields -->
                  <input type="hidden" formControlName="TaskSubmissionId">
                  <input type="hidden" formControlName="RatedTo">
                  <button type="submit" class="btn btn-primary">Submit Rating</button>
                </form>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- Table for Submission Details -->
  <div  class="excel-table" *ngIf="submissionDetails && currentUser.Role==0">
    <button class="btn btn-info" (click)="GoToCompiler()">GO To Online Compiler </button>
    <br>
    <br>
    <table>
      <thead style="color: darkblue;">
        <tr style="color: darkblue;">
          <th style="color: darkblue;">Submitted By</th>
          <th style="color: darkblue;">The File Uploaded</th>
          <th style="color: darkblue;">The Rating</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ submissionDetails.SubmittedByUser.Name }}</td>
          <td>
            <div *ngIf="submissionDetails.FileUploadSubmission != null">
              Your Submission:
              <button class="btn btn-info" (click)="downloadFile(submissionDetails.FileUploadSubmission, submissionDetails.submittedFileName)">{{ submissionDetails.submittedFileName }}</button>
            </div>
            <div *ngIf="submissionDetails.FileUploadSubmission == null">
              <td>
                <div *ngIf="submissionDetails.FileUploadSubmission != null">
                  <button class="btn btn-info" (click)="downloadFile(submissionDetails.FileUploadSubmission, submissionDetails.submittedFileName)">Download Submission File</button>
                </div>
                <div *ngIf="submissionDetails.FileUploadSubmission == null">
                  <form [formGroup]="addTaskForm" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                      <label for="submittedFileName">Submitted File Name:</label>
                      <input type="text" class="form-control" id="submittedFileName" formControlName="submittedFileName" placeholder="Type the full file name with the correct extension please" required>
                      <div *ngIf="addTaskForm.get('submittedFileName').invalid && (addTaskForm.get('submittedFileName').dirty || addTaskForm.get('submittedFileName').touched)" class="invalid-feedback">
                        Submitted File Name is required.
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="fileUpload">File Upload:</label>
                      <input type="file" class="form-control-file" id="fileUpload" (change)="onFileChange($event)">
                      <div *ngIf="addTaskForm.get('FileUpload').invalid && (addTaskForm.get('FileUpload').dirty || addTaskForm.get('FileUpload').touched)" class="invalid-feedback">
                        File Upload is required.
                      </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                  </form>
                  <p class="text-muted">INCOMPLETE SUBMIT SOON PLEASE</p>
                </div>
              </td>

              <!-- Your form for file upload -->
            </div>
          </td>
          <td>
            <div *ngIf="rating != null">
              {{ rating.RatingValue }}%
              <!-- Include comments if needed -->
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  </div>
