<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
  <!-- Navbar -->


  <!-- Page content -->
  <div class="content">
    <div class="header">
      <h2> Dashboard <img src="/assets/Mentor_Dashboard_Icon.png" alt="Mentor Dashboard Icon" class="icon"></h2>
      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Menu" class="menu-button">
        <mat-icon>menu</mat-icon>
      </button>
      <mat-menu #menu="matMenu" class="custom-menu">
        <button mat-menu-item (click)="navigateTo('dashboard')">Dashboard</button>
        <button mat-menu-item (click)="navigateTo('batches')">Batches</button>
        <button mat-menu-item (click)="navigateTo('profile')">Profile</button>
        <button mat-menu-item (click)="navigateTo('employees')">Employees</button>
        <button mat-menu-item (click)="logout()">Logout</button>
      </mat-menu>
    </div>
    <p>Welcome to the  dashboard!</p>
    <app-get-batch></app-get-batch>
  </div>
</body>

</html>
