<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 mx-auto">
        <div class="card">
          <div class="card-header bg-transparent text-white d-flex justify-content-between align-items-center">
            <h2 class="text-center mb-4">TaskIt</h2>
            <img src="\assets\Business icon.jpg" alt="Icon" class="icon">
        </div>
          <div class="card-body">
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
              <div class="form-group">
                <div class="input-group">
                  <span class="input-group-prepend">
                    <div class="input-group-text"><i class="fas fa-user" style="color: rgb(14, 14, 14);"></i></div>
                  </span>
                  <input formControlName="UserName" type="text" id="UserName" class="form-control" placeholder="Username"/>
                </div>
              </div>
              <div class="form-group">
                <div class="input-group">
                  <span class="input-group-prepend">
                    <div class="input-group-text"><i class="fas fa-lock" style="color: rgb(20, 20, 20);"></i></div>
                  </span>
                  <input type="password" formControlName="Password" id="Password" class="form-control" placeholder="Password" required/>
                </div>
              </div>
              <p style="color: aliceblue;">Forgotten your username or password?</p>
              <button type="submit" class="btn btn-primary btn-block">Login</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
