<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 mx-auto">
        <div class="card">
          <div class="card-header bg-transparent text-white d-flex justify-content-between align-items-center">
            <h2 class="text-center mb-4">TaskIt</h2>
            <img src="\assets\Business icon.jpg" alt="Icon" class="icon">
          </div>
          <div class="card-body">
            <!-- Original Login Form -->
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
              <div class="form-group">
                <div class="input-group">
                  <span class="input-group-prepend">
                    <div class="input-group-text"><i class="fas fa-user" style="color: rgb(14, 14, 14);"></i></div>
                  </span>
                  <input formControlName="UserName" type="text" id="UserName" class="form-control" placeholder="Username"/>
                </div>
                <div *ngIf="loginForm.get('UserName')?.errors" class="text-danger">
                  <div *ngIf="loginForm.get('UserName')?.errors?.['required']">Username is required.</div>
                </div>
              </div>
              <div class="form-group">
                <div class="input-group">
                  <span class="input-group-prepend">
                    <div class="input-group-text"><i class="fas fa-lock" style="color: rgb(20, 20, 20);"></i></div>
                  </span>
                  <input type="password" formControlName="Password" id="Password" class="form-control" placeholder="Password"/>
                </div>
                <div *ngIf="loginForm.get('Password')?.errors" class="text-danger">
                  <div *ngIf="loginForm.get('Password')?.errors?.['required']">Password is required.</div>
                </div>
              </div>
              <p style="color: rgb(255, 13, 13);" *ngIf="error != null">{{ error }}</p>
              <button type="submit" class="btn btn-primary btn-block">Login</button>
            <br>
            </form>
<br>
<p style="color: white;" (click)="showemailform=!showemailform">Forgot Password?</p>
            <!-- Forgotten Password Form -->
            <div *ngIf="showemailform">
            <form [formGroup]="emailForm" (ngSubmit)="SendResetPasswordEmail()" *ngIf="!resetPasswordFormVisible">
              <div class="form-group">
                <input formControlName="capgeminiid" type="text" class="form-control" placeholder="Enter your email"/>
                <div *ngIf="emailForm.get('capgeminiid')?.errors" class="text-danger">
                  <div *ngIf="emailForm.get('capgeminiid')?.errors?.['required']">Email is required.</div>
                  <div *ngIf="emailForm.get('capgeminiid')?.errors?.['email']">Invalid email format.</div>
                </div>
              </div>
              <button type="submit" class="btn btn-primary btn-block">Submit</button>
              <br>

            </form>
            </div>

            <!-- Password Reset Form -->
            <form [formGroup]="resetPasswordForm" (ngSubmit)="ChecksForResetPassword()" *ngIf="resetPasswordFormVisible">
              <div class="form-group">
                <input formControlName="username" type="text" class="form-control" placeholder="Username"/>
              </div>
              <div class="form-group">
                <input formControlName="oldpassword" type="password" class="form-control" placeholder="Old Password"/>
              </div>
              <div class="form-group">
                <input formControlName="newpassword" type="password" class="form-control" placeholder="New Password"/>
              </div>
              <button type="submit" class="btn btn-primary btn-block">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
