body {
  font-family: Arial, sans-serif;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('/assets/NewBg.jpg');
  background-size: cover;
  background-position: center;
  width: 100vw; /* Use viewport width */
  height: 100vh; /* Use viewport height */
}
.card {
  display: flex;
  flex-direction: column; /* Align child elements vertically */
  justify-content: center;
  align-items: center;
  background-color: rgba(12, 28, 58, 0.56);
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  width: 400px;
  margin: 0 auto;
  text-align: center;
}

.card-header {
  display: flex;
  flex-direction: column; /* Align child elements vertically */
  align-items: center;
  background-color: transparent;
  border: none;
  width: 100%; /* Ensure full width */
}

.card-header h2 {
  margin-top: 20px;
  color: #ffffff;
  margin-bottom: 10px; /* Add spacing below the header */
  size: 300rem;
}

.card-body {
  width: auto; /* Ensure full width */
}

.form-group {
  width: 100%; /* Ensure form inputs take full width */
}

.form-control {
  width: calc(100% - 40px); /* Subtract padding and border width */
}
.input-group-text{
  background-color: transparent;
  border-color: transparent;
}
.input-group-text i {
  margin-top: auto;
  margin-bottom: auto;
}
.input-group input{
  background-color: lightgray;
}
.icon {
  height: 1.9em;
  width: auto;
  margin: 10px auto; /* Center icon horizontally and add margin */
}

.input-group{
  background-color: transparent;

}
