body {
  font-family: Arial, sans-serif;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('/assets/Login_Background.jpg');
  background-size: cover;
  background-position: center;
  width: 100vw; /* Use viewport width */
  height: 100vh; /* Use viewport height */
}

.container-fluid {
  /* No specific styles */
}

.card {
  display: flex;
  justify-content: center;
  background-position: center;
  align-items: center;
  background-color:rgb(12 28 58 / 56%);/* Adjusted background color based on the color scheme */
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  width: 400px;
  text-align: center;
  margin: 0 auto;
}

.card-header {
  align-items: center;
  background-color: transparent;
  border: none;
}

.card-header h2 {
  color: #ffffff; /* Adjusted text color based on the color scheme */
}

.form-control {
  background-color: #ffffff;
  border: none;
  border-radius: 0;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: #000000; /* Adjusted text color based on the color scheme */
}

.form-control:focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 180, 216, 0.5);
  border-color: #90e0ef;
}

.form-group.btn-primary {
  background-color: #00b4d8;
  border: none;
  border-radius: 5px;
  color: #ffffff; /* Adjusted text color based on the color scheme */
}

.form-group.btn-primary:hover {
  background-color: #caf0f8;
}

.glyphicon {
  margin-right: 10px;
  color: lightgrey; /* Set color to light grey */
}

.text-danger {
  color: red;
}
.form-group{
  color: #ffffff; /* Adjusted text color based on the color scheme */
}

.form-control.glyphicon {
  color: #000000; /* Adjusted text color based on the color scheme */
}
.input-group-text {
  background-color:transparent; /* Set background color to match form control background */
  border: none;
}

.input-group-prepend, .input-group-append {
  display: flex;
}

.input-group-text i {
  margin-top: auto; /* Align icon vertically in the middle */
  margin-bottom: auto;
}
.icon {
  height: 1.9em; /* Adjust the height as needed */
  width: auto; /* Maintain aspect ratio */
  margin-left: 10px; /* Adjust spacing between header text and icon */
  align-self:start;
}
.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #2c3943;
}
