<!-- Header -->
<br>
<br>
<div class="header">
  <h2 style="margin-bottom:110px">Dashboard </h2>
  <h2 style="margin-bottom:110px;text-align: right;"> Welcome {{currentUser.Name}}! </h2>

  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Menu" class="menu-button">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu" class="custom-menu">
    <button mat-menu-item (click)="navigateToDahsBoard()">Dashboard</button>
    <button mat-menu-item (click)="viewEmployee(currentUser.userId)">Profile</button>
    <button mat-menu-item (click)="logout()">Logout</button>
  </mat-menu>
</div>
<br>
<button class="btn" (click)="toggleNavigationHistory()">Show Navigation History</button>

<ul *ngIf="showNavigationHistory">
  <li *ngFor="let link of navigationHistory">
    <a style="background-color: lightblue; width: 180px; margin-left: 60px;" [routerLink]="link">{{ link }}</a>
  </li>
</ul>
<br>

<div class="content">
  <div *ngIf="currentUser.Role == 0" class="excel-table">
    <form (ngSubmit)="submitFeedbacks()">
      <table>
        <thead>
          <tr>
            <th>Feedback Of</th>
            <th>Feedback Of Task</th>
            <th>Feedback Rating</th>
            <th>Feedback Comment</th>
            <th>Feedback Description</th>

          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let feedback of feedbacks.controls; let i = index">
            <tr *ngIf="feedback.value.userId == currentUser.userId">
              <td>{{ feedback.value.user.name }}</td>
              <td>{{ feedback.value.userTask.taskName }}</td>
              <td>
                <td>
                  {{ feedback.value.totalAverageRating }}%
                </td>


              <td>
                <ng-container *ngIf="!editable; else editModeComments">
                  {{ commentsOptions[feedback.value.comments] }}
                </ng-container>
                <ng-template #editModeComments>
                  <select [(ngModel)]="feedback.value.comments" name="comments{{i}}" title="Comments" class="form-control" required>
                    <option disabled value="">Select a comment</option>
                    <option *ngFor="let option of commentsOptions; let j = index" [value]="j">{{ option }}</option>
                  </select>
                </ng-template>
              </td>
              <td>
                <ng-container *ngIf="!editable; else editModeDescription">
                  {{ feedback.value.description }}
                </ng-container>
                <ng-template #editModeDescription>
                  <input type="text" [(ngModel)]="feedback.value.description" name="description{{i}}" placeholder="{{feedback.value.description}}">
                </ng-template>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>

    </form>
  </div>
</div>



<div *ngIf="currentUser.Role==1">
  <div style="display: flex; justify-content: space-between; margin: 0 200px; text-align: center;">
    <button class="btn" style="text-align: center; background-color: lightblue; width: 180px;" mat-menu-item (click)="sendEmailtoemployee()">Email to Candidates</button>
    <button class="btn" style="text-align: center; background-color: lightblue; width: 180px;" mat-menu-item (click)="editable=!editable">EDIT ALL</button>
    <button class="btn" style="background-color: lightblue; width: 180px;" mat-menu-item (click)="sendEmailtoMentor()">Email Feedback</button>
  </div>
  </div>
<!-- Main Content -->
<div class="content">
  <div *ngIf="currentUser.Role != 0" class="excel-table">
    <form (ngSubmit)="submitFeedbacks()">
      <table>
        <thead>
          <tr style="color: darkblue;">
            <th style="color: darkblue;">Feedback Of</th>
            <th style="color: darkblue;">Feedback Of Task</th>
            <th style="color: darkblue;">Feedback Rating</th>
            <th style="color: darkblue;">Feedback Comment</th>
            <th style="color: darkblue;">Feedback Description</th>

          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let feedback of feedbacks.controls; let i = index">
            <!-- <p>i {{feedback}}</p> -->

            <td>{{ feedback.value.user.name }}</td>
            <td>{{ feedback.value.userTask.taskName }}</td>

            <td>
                  {{ feedback.value.totalAverageRating }}%
                </td>
            <td>
              <p *ngIf="!editable">{{commentsOptions[feedback.value.comments-1]}}</p>
              <select *ngIf="editable" [(ngModel)]="feedback.value.comments" name="comments{{i}}" title="Comments" class="form-control" required>
                <option disabled value="">Select a comment</option>
                <option *ngFor="let option of commentsOptions; let j = index" [value]="j+1">{{ option }}</option>
              </select>
            </td>
            <td>
              <p *ngIf="!editable">{{feedback.value.description}}</p>
              <input *ngIf="editable" type="text" [(ngModel)]="feedback.value.description" name="description{{i}}" placeholder="{{feedback.value.description}}">
            </td>
          </tr>
        </tbody>
      </table>
      <br>
      <button style="text-align: center; background-color: lightblue; width: 180px;" *ngIf="currentUser.Role==1" type="submit">Submit</button>
    </form>
  </div>
</div>
  <div>
