.container {
  background-color: white;
  padding: 20px;
}

.header {
  background-color: transparent; /* Set background color to transparent */
  color: #2578be;
  text-decoration: #00b4d8;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.header h2 {
  font-size: 24px;
  margin: 0;
}

.list-group-item {
  cursor: pointer; /* Change cursor to pointer on hover */
  margin-bottom: 2px; /* Add tiny space between each batch name */
}

.list-group-item.active {
  background-color: #0077b6; /* Change background color of active item */
  color: #fff; /* Change text color of active item */
}

.card {
  margin-top: 0; /* Remove margin-top */
}

.card p {
  margin-bottom: 5px; /* Add margin-bottom to separate paragraphs */
}

.btn-primary {
  background-color: #00b4d8;
  border: none;
}

.btn-primary:hover {
  background-color: #0077b6;
}

.btn-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 180, 216, 0.5);
}
.container {
  padding: 20px;
}

.card-container {

  display: flex;
  flex-wrap: wrap;
}

.custom-card {
  width: calc(33.33% - 20px); /* Adjust the width as needed */
  margin: 10px;
   /* Replace 'your-background-image-url' with the actual URL */
  background-size: cover;
  background-position: center;
  background-color: rgba(255, 255, 255, 0.1); /* Set background color with opacity */
  color: currentcolor;

}

.custom-card:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Add hover effect */
}
.mat-mdc-card-title{
  background: linear-gradient(to bottom, #c1d8f0, white);
}
.mat-mdc-card-title, .mat-mdc-card-subtitle {

  display: block;
  margin: 0;
  color: black;
}
