<div class="container">
  <button *ngIf="currentUser.Role==2" mat-button color="primary" (click)="addBatch(getMentorID)">Add New Batch</button>
  <button *ngIf="currentUser.Role==2" mat-button color="primary" (click)="addMentor()">Add New Mentor</button>

  <div *ngIf="allBatches.length > 0; else noTransactions">
    <div class="header">
      <h2>All Batches</h2>
    </div>
    <div class="container">
      <div class="card-container">
        <mat-card *ngFor="let batch of allBatches" class="custom-card">
          <mat-card-header>
            <mat-card-title>{{ batch.batchName }}</mat-card-title>
            <mat-card-subtitle>Domain: {{ batch.domain}}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <!-- Add any additional content here -->
            <button mat-button color="primary" (click)="downloadFile(batch.employee_info_Excel,batch.batchName+'.xlsx')">Download Batch Employees Info</button>
            <button mat-button color="primary" (click)="viewBatch(batch.batchId)">View Batch</button>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>

  <ng-template #noTransactions>
    <p>No batches available.</p>
  </ng-template>
</div>
