<p>get-batch works!</p>
<div class="container">
  <div *ngIf="allBatches.length > 0; else noTransactions">
    <h2>All Batches</h2>
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>batch ID</th>
            <th>batchName</th>
            <th>Domain</th>
            <th>MentorId</th>
            <!-- Add more table headers as needed -->
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let batch of allBatches">
            <td>{{ batch.batchId }}</td>
            <td>{{ batch.batchName }}</td>
            <td>{{ batch.domain }}</td>
            <td>{{ batch.mentorId }}</td>
            <td>
              <button class="btn btn-primary" (click)="viewBatch(batch.batchId)">View Batch</button>
          </td>
            <!-- Add more table cells as needed -->
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <ng-template #noTransactions>
    <p>No batches available.</p>
  </ng-template>
</div>
