<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
  <!-- Navbar -->


  <!-- Page content -->
  <div class="content">
    <div class="header">
      <h2 style="margin-bottom:110px"> Dashboard </h2>
      <h2 style="margin-bottom:110px;text-align: right;"> Welcome {{currentUser.Name}}! </h2>

      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Menu" class="menu-button">
        <mat-icon>menu</mat-icon>
      </button>
      <mat-menu #menu="matMenu" class="custom-menu">
        <button mat-menu-item (click)="navigateToDahsBoard()">Dashboard</button>
        <button mat-menu-item (click)="viewEmployee(currentUser.UserId)">Profile</button>
        <button mat-menu-item (click)="logout()">Logout</button>
      </mat-menu>
    </div>
<br>

    <app-get-batch></app-get-batch>
  </div>
</body>

</html>
