/* User Profile Container */
.profile-container {
  display: flex;
  flex-direction: row;
}

/* User Information Section */
.user-info {
  flex: 1;
  margin-right: 20px;
}

/* Batches Section */
.batches-section {
  flex: 1;
}

/* Batch Cards */
.batch-cards {
  display: flex;
  flex-direction: column;
}

.batch-card {
  background-color: #f0f0f0;
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

/* Tasks Section */
.tasks-section {
  flex: 1;
}

/* Task List */
.task-list ul {
  list-style-type: none;
  padding: 0;
}

.task-list li {
  margin-bottom: 10px;
  cursor: pointer;
}

/* Subtasks */
.subtasks ul {
  list-style-type: none;
  padding-left: 20px;
}

/* Hover effect */
.batch-card:hover,
.task-list li:hover {
  background-color: #ddd;
}

.content {
  background-color:transparent;
  margin-left: 100px;
  padding: 20px;
}
.content {
  padding: 20px;
}

.header {
  width: auto;
  color: #000000; /* Set text color to black */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  left:10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  height: 200px;
  margin-top: 0px;
  align-self: center;
  margin-left: 85px;
  margin-right: 85px;
  background-image: url('/assets/DashBoard_Banner.jpeg');
  background-size: cover; /* This makes the background image cover the entire header */
  background-position: center; /* This centers the background image */

}

.icon {

  margin-right: 10px;
  width: 40px; /* Larger icon width */
  height: auto;
  vertical-align: middle;
  margin-left: 10px; /* Add margin to the left of the icon */
}

.menu-button {
  color: #00b4d8; /* Set menu button color to light blue */
}

.mat-menu-panel {
  background-color: #ffffff; /* Set menu background color to white */
}
.custom-menu {
  background-color: rgba(255, 255, 255, 0.9); /* Adjust opacity as needed */
}
.head {
  background-color: transparent; /* Set background color to transparent */
  color: #2578be;
  text-decoration: #00b4d8;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}



.custom-card {
  width: calc(33.33% - 20px); /* Adjust the width as needed */
  margin: 10px;
   /* Replace 'your-background-image-url' with the actual URL */
  background-size: cover;
  background-position: center;
  background-color: rgba(255, 255, 255, 0.1); /* Set background color with opacity */
  color: currentcolor;

}

.custom-card:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Add hover effect */
}
.mat-mdc-card-title{
  background: linear-gradient(to bottom, #c1d8f0, white);
}
.mat-mdc-card-title, .mat-mdc-card-subtitle {

  display: block;
  margin: 0;
  color: black;
}
