<p>profile works!</p>
<div class="profile">
  <div class="user-info" *ngIf="User">
    <h2>User Information</h2>
    <p><strong>User ID:</strong> {{ User.capgeminiEmailId }}</p>
    <p><strong>Name:</strong> {{ User.name }}</p>
    <p><strong>Gender:</strong> {{ User.gender }}</p>
    <p><strong>Phone:</strong> {{ User.phone }}</p>

    <!-- Add more user fields as needed -->
  </div>

  <button class="toggle-button" (click)="toggleBatches()">Show Batches</button>
  <div class="form-card" *ngIf="showBatches">
    <h2>All Batches</h2>
    <ul>
      <li *ngFor="let batch of allBatches" (click)="viewBatch(batch.batchId)">
        Batch Name: {{ batch.batchName }}
      </li>
    </ul>
  </div>

  <button class="toggle-button" (click)="toggleTasks()">Show Tasks</button>
  <div class="form-card" *ngIf="showTasks">
    <h2>All Tasks</h2>
    <ul>
      <li *ngFor="let task of AllTasks" (click)="toggleSubtasks(task.userTaskID)">
        Task Name: {{ task.taskName }}
        <div class="subtasks" *ngIf="showSubtasks[task.userTaskID]">
          <ul>
            <li *ngFor="let subtask of task.subTasks">
              Subtask Title: {{ subtask.title }}
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</div>
